name: Build

on:
  workflow_call:
    inputs:
      folder:
        required: true
        type: string
      image-name:
        required: true
        type: string
      build-args:
        required: false
        type: string
      tag-suffix:
        required: false
        type: string
    outputs:
      outcome:
        description: "The outcome of the build"
        value: ${{ jobs.build.outputs.outcome }}
      tags:
        description: "The resulting image tags"
        value: ${{ jobs.build.outputs.tags }}
      version:
        description: "The resulting image version"
        value: ${{ jobs.build.outputs.tags }}

jobs:
  build:
    name: Build Images
    runs-on: [ self-hosted, Linux ]
    outputs:
      outcome: ${{ steps.docker-build.outcome }}
      tags: ${{ steps.meta.outputs.tags }}
      version: ${{ steps.meta.outputs.version }}
    steps:
      - uses: actions/checkout@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2.2.1
      - name: Login to GitHub container registry
        uses: docker/login-action@v2.2.0
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Login to DockerHub container registry
        uses: docker/login-action@v2.2.0
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}
      - name: Get base registry
        run: |
          echo "REGISTRY=ghcr.io/${GITHUB_REPOSITORY,,}" >> $GITHUB_ENV
      - name: Set tag prefix
        if: github.ref_name != 'main'
        run: |
          echo "TAG_PREFIX=${{ github.ref_name }}-" >> $GITHUB_ENV
      - name: Set tag suffix
        if: inputs.tag-suffix != ''
        run: |
          echo "TAG_SUFFIX=-${{ inputs.tag-suffix }}" >> $GITHUB_ENV
      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@v4.1.1
        with:
          images: ${{ env.REGISTRY }}/${{ inputs.image-name }}
          tags: |
            type=sha,prefix=${{ env.TAG_PREFIX }},suffix=${{ env.TAG_SUFFIX }},format=short
      - name: Build and push Docker image
        id: docker-build
        uses: docker/build-push-action@v3.2.0
        with:
          context: ${{ inputs.folder }}
          build-args: |-
            ${{ inputs.build-args }}
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          cache-from: type=registry,ref=${{ env.REGISTRY }}/${{ inputs.image-name }}:buildcache
          cache-to: type=registry,ref=${{ env.REGISTRY }}/${{ inputs.image-name }}:buildcache,mode=max
      - uses: 8BitJonny/gh-get-current-pr@2.1.3
        id: PR
        with:
          filterOutClosed: true
      - name: Comment
        if: steps.PR.outputs.number
        uses: peter-evans/create-or-update-comment@v2.1.0
        with:
          issue-number: ${{ steps.PR.outputs.number }}
          body: >
            @${{ github.triggering_actor }} Build complete, ${{ steps.docker-build.outcome }}:
            ${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}

            Image: `${{ fromJSON(steps.docker-build.outputs.metadata)['image.name'] }}`
